body {
 background-image: url("img/domenico-loia-hGV2TfOh0ns-unsplash.jpg");
 background-size: cover;
 background-position: center;
}

.app{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  
  
  
  
  
}

    